

*{
	font-family: "Courier New", Courier, monospace;
	text-align: center; 
}

IMG.paddingLogo{
	padding-right: 5%;
}

#a1:link, #a1:visited {
	font-size: 15px;
	float: center;
    background-color: white;
    color: grey;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;

}

#a1:hover, #a1:active {
    background-color: #30c3a6;
    color: white;
    font-weight: bold;	
}


#centerHead{ 
	padding-top: 4%;
	float :center;
	box-shadow: 0 7px 6px -6px #999;
}

#firstBlock{
	padding-top: 60px;
	padding-bottom: 60px;
	float :center;
	color: white;
	width: 40%;
	height: 1000px-40%;
	transform: translate(-50%,0%);
	left: 50%;
	position: absolute;
}

#bigTitle{
	font-size: 36px;
	padding-top: 5%;
	color: white;
}

#textEdit{
	font-size: 20px;
	color: white;
}

#articleBackground{
	height: 400px;
	background: #30c3a6;
	position: relative;
}

#a2:link, #a2:visited {
	font-size: 80%;
	float: center;
    background-color: #414242;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}

#a2:hover, #a2:active {
    background-color: black;
    font-weight: bold;	
}

#secondBlock{
	margin-top:5%;
}

#editAboutUs{
	font-size: 180%;
	border-bottom: 2px solid #9DA19F; 
    line-height: 0.0em;
    margin: 10px 0 20px; 
    width: 60%;
    float: center;
    left: 50%;
    transform: translate(-50%,0%);
    position: absolute;
	

}
#editSpan { 
    background:#fff; 
    padding:0px 20px; 
}

#aboutUsTextEdit{
	color: grey;
	font-size: 70%;
	padding-top: 10px;
	float: center;
}

#photoBlock{
	margin-top: 100px;
	padding-left: 10%;
	float: left;
	display: block;
	width: 20%;

}


#photosTitle{
	background-color: #30c3a6;
	font-size: 180%;
	border-bottom: 2px solid white; 
    line-height: 0.0em;
    margin: 10px 0 20px; 
    float: center;
    left: 50%;
    transform: translate(-50%,0%);
    position: absolute;
}

#photoDetails{
	width:180px;
	height: 110px;
	border: 10px solid white; 
}

#article2Background{
	border: 1px solid #30c3a6;
	height: 800px;
	background: #30c3a6;
	position: relative;
}

footer{
	background-color: rgb(35,52,69);
	height: 70px;

}

#a3:link, #a3:visited {
	margin-top:20px;
	float: right;
	font-size: 80%;
    background-color: rgb(35,52,69);
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}

#a3:hover, #a3:active {
	float: right;
    background-color: rgb(35,52,69);
    font-weight: bold;	
}


#redBackground{
	background: rgb(232,79,64);
	border: 1px solid rgb(232,79,64);
	color: white;
	text-decoration: none;
	position: relative;
	float: center;
	font-size: 130%;
	padding-bottom: 50px;



}

#formBackground{
	font-weight: bold;
	display: inline-block;
	color: darkgrey;
	width: 70%;
	background-color: white;
	padding-bottom: 20px;

}


#a4:link, #a4:visited {
	box-sizing: content-box;
	width: 234px;
	margin-top:15px;
	float: right;
	font-size: 80%;
    background-color: rgb(26,188,156);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: inline-block;
}

#a4:hover, #a4:active {
	float: right;
    background-color: rgb(18,131,108);
    font-weight: bold;	
}


.wideInput{
	padding-left:0;
	padding-top:0;
	padding-bottom:0.4em;
	padding-right: 0.4em;
}